<h1>Home#index</h1>

<%  links.each do |link|  %>
<%=   link.content      %> <br />
<%  end                   %>

<hr>

<%= link_to "Crawl", home_crawl_path %>!

<br />

<%= link_to "Data", data_path %>!
